<html>
<h1> Computer </h1>
<ul>
    <ol>
        <% computer.forEach(function(com){ %>

        <li>
            <%= com.name %>
            <img width='150px' src=<%= com.scr %>>
        </li>

        <% }); %>
    </ol>
</ul>

</html>